:root {
  --md-run-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>play</title><path d="M8,5.14V19.14L19,12.14L8,5.14Z" /></svg>');
}
:hover>.md-run {
    color: var(--md-default-fg-color--light);
}

.md-run,
a.md-run {
    border-radius: .1rem;
    color: var(--md-default-fg-color--lightest);
    cursor: pointer;
    height: 1.5em;
    outline-color: var(--md-accent-fg-color);
    outline-offset: .1rem;
    position: absolute;
    right: 2em;
    top: .5em;
    transition: color .25s;
    width: 1.5em;
    z-index: 1;
}

a.md-run {
    display: flex;
    align-items: center;
}

.md-run:after {
    background-color: currentcolor;
    content: "";
    display: block;
    height: 1.125em;
    margin: 0 auto;
    -webkit-mask-image: var(--md-run-icon);
    mask-image: var(--md-run-icon);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 1.125em;
}

.md-run:focus, .md-run:hover {
    color: var(--md-accent-fg-color);
}